include LICENSE
include VERSION
include README.md
include requirement.txt
recursive-include config *
recursive-include libraries *
recursive-include templates *
recursive-include static *
recursive-include translations *
